*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Design';
	src: url("../font/Designer.otf");
}

header {
	background-color: #000000;
	color: #fff;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	font-family: 'Design', 'sans-serif';
}

.Titre{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}


.btn_pc, .btn_web, .btn_main{
	margin-right: 2% ;
	padding: 20px;
	border-radius: 20px	;
}

.btn_pc:hover{
	background-color: rgb(194, 139, 38);
	transition: 1s;
}

.btn_main:hover{
	background-color: rgb(160, 19, 19);
	transition: 1s;
}

.btn_web:hover{
	background-color: rgb(25, 25, 109) ;
	transition: 1s;
}

.btn_pc:not(hover), .btn_web:not(hover), .btn_main:not(hover){
	transition: 1s;
}

.btn_autre{
	width: 80%;
	display: flex;
	justify-content: flex-end;
}

.form1{
	margin-top: 50px;
}

h1 {
	margin: 0;
    font-size: 40px;
    margin-left: 2%;
}

header a {
	margin: 0;
    font-size: 40px;
    margin-left: 2%;
	text-decoration: none;
	color: white;
}

main {
    display: flex;
	flex-wrap: wrap;
  	justify-content: center;
    height: 88vh;
    background-image: url(../img/dims.jpg);
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
}

.main-content{
    width: 70%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin-top: 10%;
    border-radius: 20px;
    text-align: center;
}

main div a {
    margin-top: 5%;
    font-family: 'Design', 'sans-serif';
    font-size: 24px;
    color: white;
}

@media screen and (max-width: 1700px) {
	main div a {
		font-size: 20px;
	}
}
	
@media screen and (max-width: 1000px) {
	main div a {
		font-size: 16px;
	}
}

@media screen and (max-width: 560px) {
	main div a {
		font-size: 14px;
	}
}

@media screen and (max-width: 1300px) {
	header h1 {
		font-size: 30px;
	}
	header a {
		font-size: 30px;
	}
}

@media screen and (max-width: 1100px) {
	header h1 {
		font-size: 25px;
	}
	header a {
		font-size: 25px;
	}
}


@media screen and (max-width: 850px) {
	header h1 {
		font-size: 20px;
	}
	header a {
		font-size: 20px;
	}
}

@media screen and (max-width: 700px) {
	header h1 {
		font-size: 10px;
	}
	header a {
		font-size: 10px;
	}
}

@media screen and (max-width: 500px) {
	header h1 {
		font-size: 8px;
	}
	header a {
		font-size: 8px;
	}
}

footer {
    width: 100%;
    background-color: black;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.txt {
    font-size: 30px;
    font-family: "American";
    letter-spacing: 4px;  
}

.logo{
    width: 5%;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.logo1{
    width: 50%;
    margin-top: 20%;
    padding: 0px 15px;
}

.txt2{
    margin-top: 1%;
    font-size: 12px;
    color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}